.Conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 100%;
}

.Background {
    position: absolute;
    top: -125px;
    width: 100%;
    min-height: calc(100% + 150px);
    z-index: -1
}

.AvisoGanhadores {
    font-size: 45px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-bottom: 30px;
}

.Campos {
    width: 50%;
    margin: 10px;
    padding: 0px 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.Ganhadores {
    width: 50%;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.Ganhadores p {
    margin: 6px;
    font-size: 20px;
}

.Ganhadores:nth-child(odd) {
    background-color: #a3000588;
}

.Ganhadores:nth-child(even) {
    background-color: #3c090f6a;
}

.IndiceEven, .IndiceOdd {
    padding: 10px;
    border-radius: 10px;
}

.IndiceOdd {
    background-color: #a3000588;
}

.IndiceEven {
    background-color: #3c090f6a;
}

.user{
padding-left: 60px;
}

.pagination {
    display: flex;
    gap: 20px;
}

.previous, .next {
    padding: 20px 15px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    height: 30px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}

.previous {
    background-color: #73040A;
}

.next {
    background-color: #BE0600;
}

@media (max-width: 320px) {
    .AvisoGanhadores {
        font-size: 25px;
        margin: 20px;
    }

    .Campos {
        width: 80vw;
        justify-content: end;
    }

    .Campos :nth-child(3) {
        display: none;
    }

    .Campos p {
        font-size: 19px;
        margin: 0 10px;
    }

    .Ganhadores {
        width: 80vw;
    }

    .Ganhadores p {
        font-size: 18px;
    }

    .Ganhadores :nth-child(4){
        display: none;
    }

    .Ganhadores:nth-child(even) {
        background-color: #3c090ffa;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .AvisoGanhadores {
        font-size: 30px;
        margin: 30px;
    }

    .Campos {
        width: 85vw;
        justify-content: space-between;
    }

    
    .Campos p {
        font-size: 22px;    
        margin: 0;
        align-items: center;
    }

    .Campos :first-child {
        margin-right: 50px;
    }
    
    .Campos :nth-child(4) {
        display: none;
    }

    .Ganhadores {
        width: 85vw;
    }

    .Ganhadores p {
        font-size: 20px;
    }

    .Ganhadores :nth-child(3){
        display: none;
    }

    .Ganhadores:nth-child(even) {
        background-color: #3c090ffa;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .AvisoGanhadores {
        font-size: 33px;
        margin: 20px;
    }

    .Campos {
        width: 80vw;
        justify-content: space-between;
    }

    
    .Campos p {
        font-size: 23px;
        margin: 0;
        align-items: center;
    }

    .Campos :first-child {
        margin-right: 50px;
    }
    
    .Campos :nth-child(3) {
        display: none;
    }

    .Ganhadores {
        width: 85vw;
    }

    .Ganhadores p {
        font-size: 23px;
    }

    .Ganhadores :nth-child(3){
        display: none;
    }

    .Ganhadores:nth-child(even) {
        background-color: #3c090ffa;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .AvisoGanhadores {
        font-size: 35px;
        margin: 35px 0;
    }

    .Campos {
        width: 80vw;
        justify-content: space-between;
    }

    
    .Campos p {
        font-size: 23px;
        margin: 0;
        align-items: center;
    }
    
    .Campos :nth-child(3) {
        display: block;
    }

    .Ganhadores {
        width: 85vw;
    }

    .Ganhadores p {
        font-size: 23px;
    }

    .Ganhadores :nth-child(3){
        display: block;
    }
}

@media (min-width: 1025px) {
    .AvisoGanhadores {
        font-size: 45px;
        margin: 35px 0;
    }

    .Campos {
        width: 85vw;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    
    .Campos p {
        font-size: 28px;
        margin: 0;
        align-items: center;
    }
    
    .Campos :nth-child(3) {
        display: block;
    }

    .Ganhadores {
        width: 85vw;
    }

    .Ganhadores p {
        font-size: 25px;
    }

    .Ganhadores :nth-child(3){
        display: block;
    }
}