.img {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.background {
  background-color: var(--strong-red);
  position: relative;
}
.seeMore{
  cursor: pointer;
}
.index {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: 'Bebas Neue', sans-serif;
}

.text h1:first-child {
  color: var(--white);
}

.text h1:last-child {
  color: var(--white);
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.box button{
  height: 70px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
  background-color: var(--red);
  color: var(--white);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  font-weight: 300;
}
.box button:hover{
  background-color: var(--hover-red);
  cursor: pointer;
}
.title {
  color: var(--red);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
  margin-bottom: 75px;
}
.box p:nth-child(2){
  margin-bottom: 75px;

}
.cardBenefits {
  margin-top: 50px;
  width: 80vw;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 60px;
}

.cardBenefits div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--strong-red);
}

.cardBenefits div svg {
  font-size: 50px;
  margin-bottom: 40px;
}

.cardBenefits div:nth-child(3) svg {
  font-size: 60px;
  margin-bottom: 30px;
}

.cardBenefits div h1 {
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 40px;
}

.cardBenefits div p {
  font-size: 16px;
  width: 80%;
  font-weight: 600;
  color: var(--gray);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}

.groups {
  overflow-y: hidden;
}

.line {
  background-color: var(--gray) !important;
  width: 2px !important;
}

.seeMore {
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 50px;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.seeMore svg {
  margin-top: -20px;
  font-size: 110px;
}
.video{
width: 300px;
}
.video2 div{
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.video2{
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  font-size: 31px;
  color: white;
  font-weight: 700;
}
@media (max-width:1210px) {
  .cardBenefits div:nth-child(5) svg {
    margin-bottom: 40px;
  }
  .cardBenefits div:nth-child(5) h1 {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(5) p {
    margin-bottom: 0px;
  }
  .text {
    font-size: 60px;
  }
  .video2{
    font-size: 27px;    
  }
}

@media (max-width:1000px) {
  .cardBenefits{
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
    padding: 40px 10px;
  }
  .cardBenefits div {
    width: 100%;
  }
  .cardBenefits div svg {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(3) svg {
    margin-bottom: 20px;
  }
  .cardBenefits div:nth-child(5) svg {
    margin-bottom: 20px;
  }
  .cardBenefits div h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 15px;
  }
  .video2 > div{
    display: none;
  }
}

@media (max-width:550px) {
  .video{
    display: flex;
  }
  .video2 > div{
    display: none;
  }
}

.card {
  margin-top: 50px;
  width: 80vw;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.card img {
  border-radius: 20px;
}

.line2 {
  width: 2px;
  margin: 0px 50px;
  background-color: var(--gray);
  height: 100%;
}

.group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 75px;
}

.group p {
  font-family: "Montserrat", sans-serif;
}

.group button {
  width: 100%;
  height: 70px;
  border: 0px;
  border-radius: 20px;
  background-color: var(--red);
  color: var(--white);
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  margin-top: 10px;
  cursor: pointer;
}
.group button:hover {
  background-color: var(--hover-red);

}
@media (max-width: 1096px) {
  .card {
    height: 400px;
  }
  .card h1 {
    font-size: 69px;
  }
}
@media (max-width: 972px) {
  .card {
    height: 500px;
  }
}

@media (max-width: 800px) {
  .line2 {
    display: none;
  }

  .card {
    flex-direction: column;
    height: 100%;
    height: 680px;
    text-align: center;
  }

  .group {
    height: 40px;
  }

  .group h1 {
    margin: 25px 0px;
  }

  .group p {
    margin-top: 25px;
  }

  .group button {
    margin-top: 25px;
  }
}

@media (max-width: 546px) {
  .card {
    height: 750px;
  }
}
@media (max-width: 460px) {
  .card {
    height: 780px;
  }
  .card h1{
    font-size: 60px;
  }
}
@media (max-width: 330px) {
  .card {
    height: 900px;
  }

}