.background{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.slider div{
    width: 80vw;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
    margin-top: 5px;
}
.slider ul{
    margin-bottom: 35px;
}
.backgroundMob{
    display: none;
}
.mob{
    display: none;
}
.banner{
    display: flex;
    width: 80vw;
    height: 19vw;
    border-radius: 20px;
}
@media (max-width:1100px) {
    .mob{
        display:flex;
        width: 80vw;
        height: 40vw;
        border-radius: 15px;
    }
    .backgroundMob{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .background{
        display: none;
    }
}