.centralizer{
  display: flex;
  justify-content: center;
}
.background{
    height: 144px;
    display: flex;
    width: 80vw;
}

.image{
    width: 50%;
    display: flex;
    align-items: center;
}
.image img{
  cursor: pointer;
}
.buttons{
    height: 144px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.button{
  background-color: rgba(255, 0, 0, 0);
    color: var(--white);
    height: 40px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 32px;
    cursor: pointer;
}

.button:hover{
  color: var(--red);
}

.button:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
  background-color: var(--red);
}

.button:hover:after {
  width: 100%;
}

.button a {
  color: inherit;
}

.do{
    width: 170px;
    min-width: 170px;
    margin-left: 32px;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    height: 40px;
    border: 0px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.do:hover{
  background-color: var(--hover-red);
}
.sidebar{
  display: none;
}
.aside{
  height: 100vh;
  width: 80vw;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: var(--white);
  z-index: 1;
}
@media (max-width: 950px) {
  .buttons{
      display: none;
  }
  .background{
    margin-top:60px;
    color: rgb(214, 214, 214);
    justify-content: center;
  }
  .sidebar{
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 35px;
  }
}