.background {
    height: 100vh;
    width: 80vw;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: #333333;
    z-index: 1;
}

.background svg {
    color: white;
    font-size: 30px;
    position: fixed;
    right: 20px;
    top: 80px;
}

.background p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}

.Per {
    font-weight: bolder;
}

.Logo {
    width: 43%;
    height: 10%;
    margin-top: 120px;
    margin-left: 70px;
    margin-bottom: 12px;
}

.UserActions {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.UserActions .BotaoEntrar, .UserActions .BotaoCadastrar  {
    border: 0;
    width: 46%;
    height: 35px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}

.UserActions .BotaoEntrar {
    background-color: #BE0600;
    color: white;
}

.UserActions .BotaoCadastrar {
    border: 1px solid #BE0600;
    background-color: rgba(255, 255, 255, 0);
    color: #BE0600;
}

.Linha {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    width: 40%;
}

.RoutesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.Routes {
    color: white;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}