.background {
    display: flex;
}

.left{
    display: flex;
    background-color: var(--red);
    width: 33vw;
    height: 50px;
    justify-content: center;
    border-bottom:48px solid var(--red);
    border-right: 8px solid var(--white);

}

.email{
    color: var(--white);
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.line{
    display: flex;
    background-color: var(--white);
    height: 50px;
}
.right{
    width: 67vw;
    background-color: var(--strong-red);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 48px solid var(--strong-red);
    border-left: 8px solid var(--white);
}
.icon_div{
    width: 32px;
    height: 32px;
    background-color: var(--red);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-right: 12px;
    cursor: pointer;
}
   .icon_div:first-child{
    background-color: var(--blue);
   }
   .icon_div:nth-child(3){
   background-color: var(--green);
   }
   .icon_div:nth-child(2){
   background-color: var(--rose);
   }
   .icon_div:nth-child(4){
    background-color: var(--bluedc);
   }
   .icon_div:first-child:hover{
   background-color: var(--blue2);
   }
   .icon_div:nth-child(3):hover{
   background-color: var(--green2);
   }
   .icon_div:nth-child(2):hover{
   background-color: var(--rose2);
   }
   .icon_div:nth-child(4):hover{
    background-color: var(--bluedc2);
   }
.right .icon_div:last-child{
    margin-right: 80px;
}

.icon_text{
    color: var(--white);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background2{
    display: none;
}
@media (max-width:950px) {
    .background{
        display: none;
    }
    .background2{
        display: flex;
        position: fixed;
        z-index: 2;
        top: 0px;
        left: 0px;
    }
    .right{
        align-items: center;
        justify-content: center;
        background-color: var(--red);
        border-top: 48px solid var(--red);

    }
    .left{
        background-color: var(--strong-red);
        border-bottom:48px solid var(--strong-red);

    }
    .email{
        margin:0px;
        margin-bottom: 47px;
    }
    .icon_div{
        margin: 0px 5px;
        margin-top: 9px;
    }

}
@media (max-width:430px) {
    .left .icon_div:first-child{
        display: none;
    }
    .email{
        font-size: 14px;
    }
}
@media (max-width:330px) {

    .email{
        font-size: 12px;
    }
}