/* home.module.css */

.Container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.Background {
  width: 100%;
  z-index: -1;
}

.content {
  z-index: 1;
}

.Titulo {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Work Sans';
  text-align: left;
}

.Titulo span {
  font-weight: bold;
  color: red;
}

.subTitulo {
  color: gray;
  font-size: 20px;
  font-family: 'Work Sans';
}