.ContainerRifasCadastradas{
    display: flex;
    height: 500px;
    width: 1050px;
    overflow-y:auto;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: space-around;
    gap: 10px;
}



/* 
#########################################################################################
card da rifa                                                                            #
#########################################################################################
*/

.ContainerCardRifa{
    width: 180px;
    height: 200px;
    background-color:gray;
    border-radius: 10px;
    cursor: pointer;
}
.NomeRifa {
    color: #fff;
    height: 65px;
    font-size: 18px;
    margin-top: 3px;
    word-break: break-word; 
    white-space: normal;   
}

.DivType{
    display: flex;
    justify-content: end;
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
}
/* 
#########################################################################################
PopUp da rifa                                                                            #
#########################################################################################
*/
.ContainerPopUpRifa{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0%;
}

.ContainerPopUpUpdateRifa{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0%;
}

.ContentPopUpRifa{
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
}

.ButtonExitUpdate {
    margin-right: 0px;
    display: flex;
    justify-content: end;
}

.ButtonExitUpdateStyle {
    background-color: transparent;
    border: none;
    color: #000;

    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.TitleDescriptionPopUpRifa{
    color: #000;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-weight: 600;
}

.ButtonPopUpRifa {
    width: 33.333%; 
    height: 34px;
    border: none;
    color: #fff;
    cursor: pointer;
    
}

.ButtonPopUpRifa:nth-child(1) {
    background-color: green;
    border-bottom-left-radius: 10px;
}

.ButtonPopUpRifa:nth-child(2) {
    background-color: red;
}


.ButtonPopUpRifa:nth-child(3) {
    background-color: #000;
   border-bottom-right-radius: 10px;
}

.EstateRaffle{
    color: rgb(189, 192, 5);
}

/*
#########################################################################################
PopUp update rifa                                                                            #
#########################################################################################
*/

.ContentUsersPopUp {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x:hidden;
    width: 1080px;
    margin-left: 20px;
    color: #000; 
}
.ContentPopUpUpdateRifa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    height: 510px;
    background-color: #fff;
    border-radius: 10px;
}

.ContainerSearchMember {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}


.ButtonExitPopUpUpdate {
    width: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: end;
}
.inputNavBarContainer {
    position: relative;
    width: 1000px;
    display: flex;
    gap: 15px;
}

.inputNavBarMember {
    width: 100%;
    height: 40px;
    background-color: #d3d0d0;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 40px; 
}

.ButtonAddMember{
    background-color: #32CCFF;
    width: 45px;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.ButtonAddMember:hover{
    background-color: #00bfff;
}

.searchIconMember {
    position: absolute;
    right: 60px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #000;
    width: 25px;
    height: 25px;
}


.LineMember{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
}
.Data{
    display: flex;
    flex-direction: column;
    width: 1100px;
    justify-content: center;
    align-items: center;
}