@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --content-width: 1110px;
  --content-padding: 30px;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

body {
  width: 100vw;

  overflow-x: hidden;
  /*! Caso scroll lateral volte, alterar valor acima e o do Header */

  background-color: #0C0C0C;
}

html {
  display: flex;

  width: 100vw;

  overflow-x: hidden;

  flex-direction: column;scroll-behavior: smooth;
}

header {
  display: flex;

  position: fixed;
  top: 0;
  /*! Cuidado com o valor acima caso scroll lateral volte */

  align-items: center;
  justify-content: center;

  height: 90px;
  width: 100vw;

  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);
}

.HeaderWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
  
  width: var(--content-width);
  
  padding: 0 var(--content-padding);

  color: white;
}

.MainHeader {
  display: flex;

  gap: 66px;
}

.MainHeader img {
  width: 90px;
  height: 60px;
}

.MainHeader ul {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 52px;

  height: 100%;

  list-style: none;
}

.MainHeader li {
  font-size: 18px;

  letter-spacing: 1.5px;

  white-space: nowrap;
}

.MainHeader li:hover a, .MainHeader li:hover {
  cursor: pointer;

  color: red;
}

.MainHeader li::after {
  display: block;
  content: '';

  width: 0;
  height: 2px;

  background-color: red;
}

.MainHeader li:hover::after {
  width: 100%;

  transition: 400ms ease-out;
}

.HeaderWrapper button {
  padding: 7px 31px;

  width: 160px;

  font-size: 16px;

  border-radius: 8px;

  border: none;

  outline: 1px solid #E21A1A;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  color: white;

  cursor: pointer;

  transition: 200ms ease-out;

  white-space: nowrap;
}

.HeaderWrapper button:hover {
  translate: 2px 2px;

  box-shadow: 0 0 20px red;
}

footer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 235px;

  background-color: #000;

  z-index: 10;
}

.FooterWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: var(--content-width);
  height: 100%;
  
  padding: var(--content-padding);

  color: white;
}

footer .CompanyInfo {
  display: flex;

  flex-direction: column;

  gap: 30px;
}

footer .CompanyInfo p {
  opacity: .5;
}

footer .Logo {
  width: 94px;
  height: 60px;
}

footer .ExternalArrow {
  width: 8px;
  height: 8px;
}

footer nav {
  display: flex;

  gap: 90px;
}

footer h2 {
  font-size: 18px;

  white-space: nowrap;
}

footer p {
  font-size: 16px;

  white-space: nowrap;
}

footer li {
  display: flex;

  align-items: center;

  gap: 5px;

  font-size: 16px;

  white-space: nowrap;

  cursor: pointer;
}

footer .ExternalLinks li {
  flex-direction: row-reverse;
  
  justify-content: left;
}

footer ul {
  display: flex;

  flex-direction: column;

  gap: 7px;

  list-style: none;
}

footer nav div {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.Credits {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  background: linear-gradient(90deg, #A30006, #E21A1A);

  color: white;
}

.CreditsWrapper {
  width: var(--content-width);
  padding: 0 var(--content-padding);
}

.Credits a {
  color: aqua;

  text-decoration: underline;
}

/*! NÃO ALTERAR DADOS ABAIXO / DO NOT ALTER VALUES BELLOW */
.mobile, .tablet {
  display: none;
}

/** Tablets */
/*
@media only screen and (max-width: 1024px) {
  .HeaderWrapper {
    width: 964px;
    
    padding: 60px;
  }

  header .Logo, header button.mobile {
    z-index: 2;
  }

  button.mobile {

    width: fit-content;
    padding: 5px;

    background: transparent;
    outline: none;

    rotate: 90deg;

    font-size: 30px;
  }

  button.mobile:hover {
    translate: 0;
  }

  .Sidebar {
    width: 100%;
    height: 100%;

    background-color: #0C0C0C70;
    color: white;

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    translate: 100vw;

    transition: 400ms ease-in-out;

    z-index: 9;
  }

  .SidebarWrapper {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 60px;

    width: 100%;
    height: 100%;
    padding: var(--content-padding);
  }

  .Sidebar .MainNavigation {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 30px;

    font-size: 30px;

    width: 100%;

    list-style: none;
  }

  .Sidebar .Socials {
    display: flex;

    align-items: center;

    gap: 30px;

    font-size: 20px;

    width: 100%;

    list-style: none;
  }

  .Sidebar button {
    padding: 14px 62px;
  
    width: fit-content;
  
    font-size: 20px;
  
    border-radius: 8px;
  
    border: none;
  
    outline: 1px solid #E21A1A;
  
    background: linear-gradient(90deg, #E21A1A, #A30006);
    color: white;
  
    cursor: pointer;
  
    transition: 200ms ease-out;
  
    white-space: nowrap;
  }
  
  .Sidebar button:hover {
    translate: 2px 2px;
  
    box-shadow: 0 0 20px red;
  }

  @keyframes growUp {
    0% {
      translate: 0 0;
      scale: 1;
    }
    100% {  
      translate: 90px 130px;
      scale: 3;
    }
  }

  footer {
    height: fit-content;
  }

  .FooterWrapper {
    display: flex;

    flex-direction: column-reverse;

    justify-content: space-between;

    gap: 30px;

    width: min(964px, 100%);

    padding: 30px 60px;
  }

  footer .CompanyInfo {
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }

  footer .CompanyInfo p {
    opacity: .7;
  }

  footer li, footer p {
    font-size: 12px;
  }

  .CreditsWrapper {
    width: min(964px, 100%);

    padding: 0 60px;
  }

  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
}
*/
/** Tablets */

/*! NÃO ALTERAR DADOS ABAIXO / DO NOT ALTER VALUES BELLOW */


/** Mobile */
@media only screen and (max-width: 700px) {
  html.SidebarOn {
    overflow: hidden;
  }

  .HeaderWrapper {
    width: 90%;
    
    padding: 20px;
  }

  header .Logo, header button.mobile {
    translate: 0 0;
    scale: 1;

    z-index: 2;

    transition: all 400ms ease-out;
  }

  header .Logo.SidebarOn {
    translate: calc(50% + 20px) calc(50% + 100px);
    scale: 3;

    transition: all 400ms ease-out 400ms;
  }

  button.mobile {
    width: fit-content;
    padding: 5px;

    background: transparent;
    outline: none;

    rotate: 90deg;

    font-size: 30px;
  }

  .HeaderWrapper button:hover {
    box-shadow: none;
    translate: 0;
  }

  .Sidebar {
    width: 100%;
    height: 100%;

    background-color: #0C0C0C70;
    color: white;

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    translate: 100vw;

    transition: 400ms ease-out 400ms;

    z-index: 9;
  }

  .Sidebar.visible {
    transition: 400ms ease-out;
  }

  .SidebarWrapper {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 60px;

    width: 100%;

    height: 900px;
    min-height: 100%;

    padding: var(--content-padding);

    translate: 0 80px;
  }

  .Sidebar .MainNavigation {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 30px;

    font-size: 30px;

    width: 100%;

    list-style: none;
  }

  .Sidebar .Socials {
    display: flex;

    align-items: center;

    gap: 30px;

    font-size: 20px;

    width: 100%;

    list-style: none;
  }

  .Sidebar button {
    padding: 14px 62px;
  
    width: fit-content;
  
    font-size: 20px;
  
    border-radius: 8px;
  
    border: none;
  
    outline: 1px solid #E21A1A;
  
    background: linear-gradient(90deg, #E21A1A, #A30006);
    color: white;
  
    cursor: pointer;
  
    transition: 200ms ease-out;
  
    white-space: nowrap;
  }
  
  .Sidebar button:hover {
    translate: 2px 2px;
  
    box-shadow: 0 0 20px red;
  }

  footer {
    width: 100%;
    height: fit-content;
  }

  .FooterWrapper {
    display: flex;

    flex-direction: column-reverse;

    text-align: center;

    gap: 50px;

    width: 100%;
    height: 100%;

    padding: 40px;
  }

  footer .CompanyInfo {
    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: center;
    align-items: center;
  }

  footer nav {
    display: flex;

    width: fit-content;

    justify-content: center;

    flex-wrap: wrap;

    flex-direction: row;

    gap: 50px;
  }

  footer h2 {
    text-align: left;
    font-size: 3vw;
  }
  
  footer li {
    font-size: 2.5vw;
  }

  footer li, footer a {
    display: flex;

    width: fit-content;
  }

  .CreditsWrapper {
    text-align: center;

    padding: 0 20px;
  }

  .Credits p {
    white-space: nowrap;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
/** Mobile */

.no-background {
  background-color: transparent;
}

.visible {
  translate: 0vw;
}

.highlight {
  color: #E21A1A;
}