@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --content-width: 1110px;
  --content-padding: 30px;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

body {
  width: 100vw;

  overflow-x: hidden;
  /*! Caso scroll lateral volte, alterar valor acima e o do Header */

  background-color: #0C0C0C;
}

html {
  display: flex;

  width: 100vw;

  overflow-x: hidden;

  flex-direction: column;scroll-behavior: smooth;
}

header {
  display: flex;

  position: fixed;
  top: 0;
  /*! Cuidado com o valor acima caso scroll lateral volte */

  align-items: center;
  justify-content: center;

  height: 90px;
  width: 100vw;

  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);
}

.HeaderWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
  
  width: var(--content-width);
  height: 100%;
  
  padding: 0 var(--content-padding);

  color: white;
}

.HeaderWrapper .LogoBox, .FooterWrapper .LogoBox {
  cursor: pointer;
}

.MainHeader {
  display: flex;

  gap: 66px;
}

.MainHeader img {
  width: 90px;
  height: 60px;
}

.MainHeader ul {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 30px;

  height: 100%;

  list-style: none;
}

.MainHeader li {
  font-size: 18px;

  letter-spacing: 1.5px;

  white-space: nowrap;
}

.MainHeader li:hover a, .MainHeader li:hover {
  cursor: pointer;

  color: red;
}

.MainHeader li::after {
  display: block;
  content: '';

  width: 0;
  height: 2px;

  background-color: red;
}

.MainHeader li:hover::after {
  width: 100%;

  transition: 400ms ease-out;
}

.HeaderWrapper button {
  padding: 7px 31px;

  width: 160px;

  font-size: 16px;

  border-radius: 8px;

  border: none;

  outline: 1px solid #E21A1A;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  color: white;

  cursor: pointer;

  transition: 200ms ease-out;

  white-space: nowrap;
}

.HeaderWrapper button:hover {
  translate: 2px 2px;

  box-shadow: 0 0 20px red;
}

.Profile {
  display: flex;

  align-items: center;

  position: relative;

  height: 100%;
}

.ProfileWrapper {
  display: flex;

  gap: 30px;
}

.Profile .Dropdown button {
  display: flex;

  gap: 5px;

  padding: 10px 10px;

  width: fit-content;

  font-size: 16px;

  border-radius: 0;

  border: none;

  border-top: 1px solid black;

  outline: none;

  cursor: pointer;

  transition: 200ms ease-out;

  white-space: nowrap;

  background: none;

  color: #E21A1A;
}

.Profile .Dropdown button:hover {
  box-shadow: none;
  translate: 0 0;

  background-color: #E21A1A;
  color: black;
}

.Profile .Value {
  display: block;
}

.Profile .ProfileContent {
  display: flex;

  align-items: center;

  width: 200px;

  /* outline: 2px solid orange; */

  gap: 5px;

  opacity: .5;

  cursor: pointer;
}

.Profile .ProfileContent:hover {
  opacity: 1;
}

.Profile .ProfileContent h2 {
  font-size: 16px;

  width: 100%;
  height: fit-content;

  text-overflow: ellipsis;
  overflow: hidden;
}

.Profile .ProfileContent h3 {
  font-size: 12px;

  opacity: .5;

  width: 100%;
  height: 0;

  text-overflow: ellipsis;
  overflow: hidden;

  transition: height 400ms;
}

.Profile .ProfileContent:hover h3 {
  height: 14px;
}

.Profile .ProfilePicture {
  width: 20px;
  height: 20px;

  overflow: hidden;

  border-radius: 50%;

  background-color: #ddd;
}

.Profile .ProfilePicture img {
  width: 100%;
  height: 100%;
}

.Profile .Dropdown {
  display: flex;

  position: absolute;
  top: 60%;

  overflow: hidden;

  background-color: #333;
}

.Profile .Dropdown input {
  position: absolute;
  height: 0;
  width: 0;

  z-index: -1;
}

.Profile ul {
  display: flex;

  flex-direction: column;

  justify-content: center;

  list-style: none;

  width: 100%;
  height: 100%;
}

.Profile li {
  padding: 10px 10px;

  cursor: pointer;

  border-top: 1px solid black;
}

.Profile li:hover {
  background-color: #ddd;
  color: black;
}

.Profile li:first-child {
  border-top: none;
}

.Profile .config {
  display: flex;

  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
}

.Profile .configWrapper {
  display: flex;

  justify-content: center;

  border-radius: 11px;

  height: 600px;

  overflow: auto;
}

.Profile .configWrapperContent {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-block: 30px;

  width: 820px;
  height: fit-content;

  background-color: white;

  border: 5px solid #222;

  gap: 15px;

  border-radius: 11px;

  color: black;

  position: relative;
}

.Profile .config .boxGroup {
  display: flex;

  width: 100%;
  height: 100%;

  flex-wrap: wrap;

  gap: 30px;

  padding: 30px 30px 0;
}

.Profile .accountInfo {
  display: flex;

  width: 100%;

  padding: 0 30px;
}

.Profile .config .imageBox {
  display: flex;
  width: fit-content;

  position: relative;

}

.Profile .config .imageBox img {
  background-color: white;

  border-radius: 50%;

  width: 200px;
  height: auto;
}

.Profile .config .imageBox input,
.Profile .config .imageBox button {
  position: absolute;
  top: 0;
  left: 0;
}

.Profile .config .imageBox input {
  z-index: -1;
  width: 0;
  height: 0;

  opacity: 0;
}

.Profile .config .imageBox button {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0;

  width: 100%;
  height: 100%;

  background: none;
  background-color: black;

  border-radius: 50%;
  opacity: 0;

  transition: opacity 0ms ease-out;
}

.Profile .config .imageBox button:hover {
  opacity: .5;

  box-shadow: none;
  translate: 0 0;
}

.Profile .config .imageBox button img {
  width: 50%;
  height: 50%;

  border-radius: 0;

  background-color: black;
}

.Profile .accountContent {
  display: flex;

  flex-direction: column;

  gap: 10px;

  padding: 30px;
}

.Profile .accountContent h2 {
  font-size: 30px;
}

.Profile .configWrapperContent > button {
  padding: 10px;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  position: absolute;
  top: 30px;
  right: 30px;
}

.Profile .config h2 {
  font-size: 32px;
}

.Profile .config .box {
  display: flex;

  flex-direction: column;

  gap: 30px;
  padding: 30px;

  width: 360px;
  height: 391px;

  outline: 5px dashed #99999940;
  border-radius: 11px;
}

.Profile .config .box:first-of-type, .Profile .config .box:last-of-type {
  width: 100%;
  height: fit-content;
}

.Profile .config .box h3 {
  font-size: 24px;
}

.Profile .config .box:last-of-type {
  outline: 5px dashed red;
}

.Profile .config label, .Profile .config input {
  font-size: 20px;
}

.Profile .config input {
  display: block;

  margin-top: 5px;

  width: 300px;

  padding: 7px;

  border-radius: 4px;
  border: none;
  outline: 2px solid;

  color: grey;
}

.Profile .box:first-of-type input,
.Profile .box:first-of-type input {
  width: 100%;
}

.Profile .config .box button {
  padding: 7px 31px;

  width: fit-content;

  font-size: 20px;

  text-align: center;
}

.Profile .configBackground {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .4;

  width: 100%;
  height: 100%;

  background: radial-gradient(#333, black);

  z-index: -1;

  cursor: pointer;
}

.FooterWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: var(--content-width);
  height: 100%;
  
  padding: var(--content-padding);

  color: white;
}

footer {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 235px;

  background-color: #000;

  z-index: 10;
}

footer .CompanyInfo {
  display: flex;

  flex-direction: column;

  gap: 30px;
}

footer .CompanyInfo p {
  opacity: .5;
}

footer .Logo {
  width: 94px;
  height: 60px;
}

footer .ExternalArrow {
  width: 8px;
  height: 8px;
}

footer nav {
  display: flex;

  gap: 90px;
}

footer h2 {
  font-size: 18px;

  white-space: nowrap;
}

footer p {
  font-size: 16px;

  white-space: nowrap;
}

footer li {
  display: flex;

  align-items: center;

  gap: 5px;

  font-size: 16px;

  white-space: nowrap;

  cursor: pointer;
}

footer .ExternalLinks li {
  flex-direction: row-reverse;
  
  justify-content: left;
}

footer ul {
  display: flex;

  flex-direction: column;

  gap: 7px;

  list-style: none;
}

footer nav div {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.Credits {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  background: linear-gradient(90deg, #A30006, #E21A1A);

  color: white;
}

.CreditsWrapper {
  width: var(--content-width);
  padding: 0 var(--content-padding);
}

.Credits a {
  color: aqua;

  text-decoration: underline;
}

/*! NÃO ALTERAR DADOS ABAIXO / DO NOT ALTER VALUES BELLOW */
.mobile, .tablet {
  display: none;
}

/** Tablets */
/*
@media only screen and (max-width: 1024px) {
  .HeaderWrapper {
    width: 964px;
    
    padding: 60px;
  }

  header .Logo, header button.mobile {
    z-index: 2;
  }

  button.mobile {

    width: fit-content;
    padding: 5px;

    background: transparent;
    outline: none;

    rotate: 90deg;

    font-size: 30px;
  }

  button.mobile:hover {
    translate: 0;
  }

  .Sidebar {
    width: 100%;
    height: 100%;

    background-color: #0C0C0C70;
    color: white;

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    translate: 100vw;

    transition: 400ms ease-in-out;

    z-index: 9;
  }

  .SidebarWrapper {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 60px;

    width: 100%;
    height: 100%;
    padding: var(--content-padding);
  }

  .Sidebar .MainNavigation {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 30px;

    font-size: 30px;

    width: 100%;

    list-style: none;
  }

  .Sidebar .Socials {
    display: flex;

    align-items: center;

    gap: 30px;

    font-size: 20px;

    width: 100%;

    list-style: none;
  }

  .Sidebar button {
    padding: 14px 62px;
  
    width: fit-content;
  
    font-size: 20px;
  
    border-radius: 8px;
  
    border: none;
  
    outline: 1px solid #E21A1A;
  
    background: linear-gradient(90deg, #E21A1A, #A30006);
    color: white;
  
    cursor: pointer;
  
    transition: 200ms ease-out;
  
    white-space: nowrap;
  }
  
  .Sidebar button:hover {
    translate: 2px 2px;
  
    box-shadow: 0 0 20px red;
  }

  @keyframes growUp {
    0% {
      translate: 0 0;
      scale: 1;
    }
    100% {  
      translate: 90px 130px;
      scale: 3;
    }
  }

  footer {
    height: fit-content;
  }

  .FooterWrapper {
    display: flex;

    flex-direction: column-reverse;

    justify-content: space-between;

    gap: 30px;

    width: min(964px, 100%);

    padding: 30px 60px;
  }

  footer .CompanyInfo {
    flex-direction: row;

    justify-content: center;
    align-items: center;
  }

  footer .CompanyInfo p {
    opacity: .7;
  }

  footer li, footer p {
    font-size: 12px;
  }

  .CreditsWrapper {
    width: min(964px, 100%);

    padding: 0 60px;
  }

  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
}
*/
/** Tablets */

/*! NÃO ALTERAR DADOS ABAIXO / DO NOT ALTER VALUES BELLOW */


/** Mobile */
@media only screen and (max-width: 700px) {
  html.SidebarOn {
    overflow: hidden;
  }

  .HeaderWrapper {
    width: 90%;
    
    padding: 20px;
  }

  header .Logo, header button.mobile {
    translate: 0 0;
    scale: 1;

    z-index: 2;

    transition: all 400ms ease-out;
  }

  header .Logo.SidebarOn {
    translate: calc(50% + 20px) calc(50% + 100px);
    scale: 3;

    transition: all 400ms ease-out 400ms;
  }

  button.mobile {
    width: fit-content;
    padding: 5px;

    background: transparent;
    outline: none;

    rotate: 90deg;

    font-size: 30px;
  }

  .HeaderWrapper button:hover {
    box-shadow: none;
    translate: 0;
  }

  .Sidebar {
    width: 100%;
    height: 100%;

    background-color: #0C0C0C70;
    color: white;

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    translate: 100vw;

    transition: 400ms ease-out 400ms;

    z-index: 9;
  }

  .Sidebar.visible {
    transition: 400ms ease-out;
  }

  .SidebarWrapper {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 60px;

    width: 100%;

    height: 900px;
    min-height: 100%;

    padding: var(--content-padding);

    translate: 0 80px;
  }

  .Sidebar .MainNavigation {
    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 30px;

    font-size: 30px;

    width: 100%;

    list-style: none;
  }

  .Sidebar .Socials {
    display: flex;

    align-items: center;

    gap: 30px;

    font-size: 20px;

    width: 100%;

    list-style: none;
  }

  .Sidebar button {
    padding: 14px 62px;
  
    width: fit-content;
  
    font-size: 20px;
  
    border-radius: 8px;
  
    border: none;
  
    outline: 1px solid #E21A1A;
  
    background: linear-gradient(90deg, #E21A1A, #A30006);
    color: white;
  
    cursor: pointer;
  
    transition: 200ms ease-out;
  
    white-space: nowrap;
  }
  
  .Sidebar button:hover {
    translate: 2px 2px;
  
    box-shadow: 0 0 20px red;
  }

  footer {
    width: 100%;
    height: fit-content;
  }

  .FooterWrapper {
    display: flex;

    flex-direction: column-reverse;

    text-align: center;

    gap: 50px;

    width: 100%;
    height: 100%;

    padding: 40px;
  }

  footer .CompanyInfo {
    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: center;
    align-items: center;
  }

  footer nav {
    display: flex;

    width: fit-content;

    justify-content: center;

    flex-wrap: wrap;

    flex-direction: row;

    gap: 50px;
  }

  footer h2 {
    text-align: left;
    font-size: 3vw;
  }
  
  footer li {
    font-size: 2.5vw;
  }

  footer li, footer a {
    display: flex;

    width: fit-content;
  }

  .CreditsWrapper {
    text-align: center;

    padding: 0 20px;
  }

  .Credits p {
    white-space: nowrap;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
/** Mobile */

.no-background {
  background-color: transparent;
}

.visible {
  translate: 0vw;
}

.highlight {
  color: #ff1c1c;
}

.scrollOff {
  overflow: hidden;
}