/* #####################################################################################
  SEÇÃO HERO
#####################################################################################*/



.Hero {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 850px;

  color: white;

  position: relative;
}

.Hero .GlowGroup {
  display: flex;

  position: absolute;

  width: 1920px;
  height: 100%;

  z-index: 2;
}

.Hero .glow-0, .Hero .glow-1 {
  border-radius: 50%;

  position: absolute;
}

.Hero .glow-0 {
  width: 591px;
  height: 591px;

  top: 10px;
  right: 30px;

  background-color: #A30006;

  filter: blur(315px);
}

.Hero .glow-1 {
  width: 233px;
  height: 233px;
  
  top: 25%;
  right: 15%;

  background-color: #E21A1A;
}

.Hero .background {
  display: flex;
}

.Hero .background::after {
  content: '';

  width: 100%;
  height: 250px;

  background-color: black;
  background: linear-gradient(0deg, #0c0c0c, transparent);

  filter: blur(10px);

  position: absolute;
  bottom: 0;

  z-index: 1;
}

.Hero .background, .Hero .background-1, .Hero .background-2 {
  --background-position-offset: 100%;
  --background-copies-display: block;

  position: absolute;
  top: 0;
}

.Hero .background-1, .Hero .background-2 {
  display: var(--background-copies-display);
  filter: blur(80px);
}

.Hero .background-1 {
  left: var(--background-position-offset);

  width: 100%;
  height: 100%;

  background-color: black;
}

.Hero .background-2 {
  right: var(--background-position-offset);


  width: 100%;
  height: 100%;
  
  background-color: black;
}

.Hero .background-0 {
  z-index: 1;
}

.HeroWrapper {
  width: var(--content-width);
  
  padding: 0 var(--content-padding);

  z-index: 3;
}

.Hero .ColGroup {
  display: flex;
}

.Hero .col1, .Hero .col2 {
  width: 662px;
}

.Hero .col1 {
  display: flex;

  flex-direction: column;

  gap: 56px;
}

.Hero .col1 h1 {
  font-size: 64px;

  line-height: 120%;
}

.Hero .col1 p {
  width: 513px;

  font-size: 20px;
  font-weight: bold;

  line-height: 120%;
}

.Hero .col1 button {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 19px 48px;
  
  width: 323px;
  height: 58px;
  
  font-size: 24px;
  font-weight: bold;

  border-radius: 8px;

  border: none;

  outline: 1px solid #E21A1A;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  color: white;

  cursor: pointer;

  transition: 200ms ease-out;

  white-space: nowrap;
}

.Hero .col1 button:hover {
  translate: 5px 5px;

  box-shadow: 0 0 50px red;
}

.Faixas {
  display: flex;

  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  width: calc(1920px + 20px);
  height: 450px;

  position: absolute;
  inset-inline: 0;
  top: 65%;

  font-size: 20px;
  font-weight: 500;
  
  margin-inline: auto;
  
  overflow: hidden;

  z-index: -1;
}

.Faixa-1, .Faixa-2 {
  display: flex;

  justify-content: center;
  align-items: center;

  width: calc(100% + 40px);
  height: 54px;

  background-color: #E21A1A;
}

.Faixas p {
  transition: all 400ms;
}

.Faixa-1 div, .Faixa-2 div {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 90px;

  width: 100%;
  height: 100%;
}

.Faixa-1 p {
  animation: 
    400ms ease-out 500ms 1 normal forwards running showUp,
    30s linear 500ms infinite normal forwards running infiniteSliding;
  translate: -920px;
}

.Faixa-2 p {
  animation: 
    400ms ease-out 1s 1 normal forwards running showUp,
    30s linear 1s infinite reverse forwards running infiniteSliding;
  translate: -920px;

  opacity: 0;
}

.Faixa-1 {
  rotate: 6.8deg;

  opacity: .7;
  filter: blur(2px);

  translate: 0 60px;
}

.Faixa-2 {
  rotate: -1.6deg;

  opacity: .8;
}

@keyframes infiniteSliding {
  0% {
    translate: -920px;
  }
  100% {
    translate: 1820px;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* #####################################################################################
  SEÇÃO SERVIÇOS
#####################################################################################*/



.Services {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;

  color: white;

  margin-top: 60px;

  z-index: 3;
}

.ServicesWrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: var(--content-width);
  
  padding: var(--content-padding);
}

.Services h2 {
  font-size: 30px;

  margin-bottom: 60px;

  z-index: 2;
}

.Services .CardGroup {
  display: flex;

  gap: 116px;

  margin-top: 96px;
}

.Services .Card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  width: 301px;
  height: 190px;

  position: relative;
}

.Services .Card::after {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;

  background: linear-gradient(135deg, transparent 0% 5%, #77777730 15% 85%, transparent 95% 100%);

  border-radius: 11px;
}

.Services .CardWrapper {
  display: flex;

  flex-direction: column;

  height: 100%;

  position: relative;

  justify-content: center;
  align-items: center;

  gap: 10px;

  color: white;

  z-index: 1;
}

.Services .Card .ImageWrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  border-radius: 50%;

  position: absolute;
  top: 0;

  translate: 0 -50px;
}

.Services .Card img {
  width: 35px;
  height: 35px;
}

.Services .Card h3 {
  font-size: 20px;

  margin-top: 64px;
}

.Services .Card p {
  padding: 0px 15px 23px;

  font-size: 12px;
}



/* #####################################################################################
  SEÇÃO DISPLAY DE SERVIÇOS
#####################################################################################*/



.ServicesDisplay {
  display: flex;

  justify-content: center;

  width: 100%;
  height: 650px;

  margin-top: 81px;

  position: relative;

  z-index: 1;
}

.ServicesDisplay .GlowGroup {
  display: flex;

  position: absolute;

  width: 1920px;
  height: 100%;
}

.ServicesDisplay .glow-0, .ServicesDisplay .glow-1 {
  border-radius: 50%;

  position: absolute;

  opacity: .5;
}

.ServicesDisplay .glow-0 {
  width: 1152px;
  height: 1152px;
  left: 51%;

  background-color: #A30006;
  filter: blur(300px);
}

.ServicesDisplay .glow-1 {
  width: 454px;
  height: 454px;
  
  top: 25%;
  right: 15%;

  background-color: #E21A1A;
}

.ServicesDisplay .glow-2 {
  width: 701px;
  height: 738px;

  background: radial-gradient(#E21A1A, #A30006);

  opacity: .3;

  position: absolute;
  top: -10%;
  left: 15%;

  border-radius: 50%;

  filter: blur(144px);

  z-index: 1;
}

.ServicesDisplay .background-0 {
  height: 130%;

  translate: -40px;

  z-index: 1;
}

.ServicesDisplay .background-1 {
  height: 100%;

  position: absolute;
  right: 0;

  z-index: -1;
}

.ServicesDisplay .background-2 {
  position: absolute;
  top: -24px;
  left: 0;
  /* right: 50%; */

  background-color: repeat;

  min-width: 100%;
  height: 765px;
}

.ServicesDisplayWrapper {
  display: flex;

  width: var(--content-width);
  height: 600px;

  gap: 25px;
  
  padding: var(--content-padding);

  z-index: 3;

}

.ServicesDisplay .col1, .ServicesDisplay .col2 {
  width: 537px;

  height: fit-content;
}

.ServicesDisplay .col1 {
  display: flex;

  position: relative;

  translate: -35px -30px;

  height: 100%;
}

.ServicesDisplay .col2 {
  padding: 50px 35px;

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), transparent);

  box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.2);

  position: relative;

  color: white;

  border-radius: 10px;

  overflow: hidden;

  outline: .1px solid rgba(128, 128, 128, 0.295);
}

.ServicesDisplay ul {
  list-style: none;

  display: flex;

  flex-direction: column;

  gap: 52px;
}

.ServicesDisplay ul::after, .ServicesDisplay ul::before {
  content: '';
  width: 100%;
  height: 2px;

  
  position: absolute;

  background: linear-gradient(90deg, #ffffff10 10%, #E21A1A, #A30006 , #ffffff08 90%);
}

.ServicesDisplay ul::after {
  left: 0;
  bottom: 0;
}

.ServicesDisplay ul::before {
  left: 0;
  top: 0;
}

.ServicesDisplay li {
  display: flex;

  flex-direction: column;

  justify-content: left;
  align-items: top;
}

.ServicesDisplay .col2 img {
  height: 25px;
  width: 25px;

  margin-right: 13px;
  padding-top: 5px;
}

.ServicesDisplay li h3 {
  font-size: 27px;

  white-space: nowrap;

  color: #E21A1A;
}

.ServicesDisplay li p {
  font-size: 16px;
  font-weight: 600;

  padding-left: 38px;
}

/* #####################################################################################
  SEÇÃO SERVIÇOS DE RIFAS
#####################################################################################*/

.ServicesRaffles {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 675px;

  color: white;

  position: relative;

  z-index: 2;
}

.ServicesRaffles .background {
  display: flex;

  position: absolute;
  top: -65px;

  height: 750px;

  z-index: 2;
}

.ServicesRaffles .background-1, .ServicesRaffles .background-2 {
  filter: blur(10px);

  width: 100vw;
  height: 750px;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.ServicesRaffles .background-0 {
  z-index: 2;
}

.ServicesRaffles .background-1 {
  position: absolute;
  right: 101%;
}

.ServicesRaffles .background-2 {
  position: absolute;
  left: 101%;
}

.ServicesRaffles h2 {
  font-size: 30px;
}

.ServicesRafflesWrapper {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: var(--content-width);
  height: 100%;
  
  padding: var(--content-padding);

  z-index: 3;
}

.ServicesRaffles .CardGroup {
  display: flex;

  flex-direction: row;

  gap: 90px;

  margin-block: 73px 103px;
}

.ServicesRaffles .Card {
  display: flex;

  flex-direction: column;

  padding: 24px;

  width: 400px;
  height: 475px;

  position: relative;

  z-index: 1;
}

.ServicesRaffles .BackgroundRaffle {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.ServicesRaffles .Card .RaffleLogo {
  width: 352px;
  height: 252px;

  margin-bottom: 24px;
}

.ServicesRaffles .Card h3 {
  font-size: 30px;
}

.ServicesRaffles .Card p {
  font-size: 12px;

  height: 70px;
  /* 
  ! Altura acima previne que o botão fique pra fora da carta!
  ! Cuidado ao alterar!
   */

  line-height: 14px;
}

.ServicesRaffles .Card .RaffleContent img {
  height: 9px;
}

.ServicesRaffles .Card button {
  display: flex;

  flex-direction: row-reverse;

  justify-content: center;
  align-items: center;

  gap: 5px;

  font-size: 16px;

  width: 119px;
  height: 34px;

  padding: 7px 35px;

  border-radius: 8px;

  border: none;

  outline: 1px solid #E21A1A;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  color: white;

  cursor: pointer;

  transition: 200ms ease-out;

  white-space: nowrap;
}

.ServicesRaffles button:hover {
  translate: 2px 2px;

  box-shadow: 0 0 20px red;
}

.ServicesRaffles .RaffleContent {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

/* #####################################################################################
  SEÇÃO HISTÓRIA
#####################################################################################*/

.History {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 580px;

  position: relative;

  margin-top: 59px;

  z-index: 1;

  /* overflow: hidden; */
}

.HistoryWrapper {
  display: flex;

  justify-content: center;

  /* margin-bottom: 124px; */

  width: var(--content-width);
  height: 100%;
  
  padding: 0 var(--content-padding);

  gap: 117px;

  color: white;

  z-index: 2;

  overflow: hidden;
}

.History .col1, .History .col2 {
  width: 450px;
  height: 570px;
}

.History .col1 {
  position: relative;
}

.History .background-0 {
  position: absolute;
  top: 0;
  left: 0;

  translate: 0 -20px;
}

.History .col2 {
  display: flex;

  flex-direction: column;

  padding-top: 75px;

  gap: 30px;

  z-index: 3;
}

.History h2 {
  font-size: 30px;

  background: linear-gradient(90deg, #E21A1A, #A30006);
  -webkit-background-clip: text;
  background-clip: text;
  
  color: transparent;
}

.History p {
  font-size: 18px;
  
  line-height: 160%;
}

.History .GlowGroup {
  display: flex;

  justify-content: center;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 200%;

  z-index: 1;

  opacity: .5;

  /* box-shadow: 0 0 5px black; */

  overflow: hidden;
}

.History .GlowGroupWrapper {
  width: 1920px;
  height: 100%;

  position: absolute;
}

.History .glow-0, .History .glow-1 {
  border-radius: 50%;

  position: absolute;
}

.History .glow-0 {
  width: 1152px;
  height: 1152px;

  left: -28%;
  bottom: -50%;

  background-color: #A30006;
  filter: blur(355px);
}

.History .glow-1 {
  width: 454px;
  height: 454px;
  
  bottom: -20%;
  left: 0;

  background-color: #E21A1A;
  filter: blur(355px);
}

.mobile, .tablet {
  /*! Do NOT alter the value bellow / NÃO altere o valor abaixo*/
  display: none;
}
/* 
/* * TABLET */
/*
@media only screen and (max-width: 1024px) {
  .Hero .background-0 {
    --background-offset: 0;

    width: min(calc(1920px - var(--background-offset)), calc(100vw - var(--background-offset)));
    min-width: min(calc(1920px - var(--background-offset)), calc(100vw - var(--background-offset)));

    translate: 0 -60px;

    padding: 60px;
  }


  .HeroWrapper {
    width: min(964px, 100%);

    padding: 60px;
  }
  
  .Faixas {
    top: 70%;
  }
  
  .Services {
    height: 800px;
  }
  
  .ServicesWrapper {
    justify-content: center;

    width: min(964px, 100%);
    height: 100%;
  }
  
  .Services .CardGroup {
    display: grid;

    justify-items: center;
    
    grid-template-columns: 2fr 2fr;
  }

  .Services .CardGroup .Card:last-of-type {
    grid-column-end: span 2;
  }

  .ServicesDisplayWrapper {
    width: min(964px, 100%);

    padding: 30px 60px;
  }

  .ServicesDisplay li h3 {
    font-size: 18px;
  }

  .ServicesDisplay li p {
    font-size: 15px;
  }

  .ServicesRaffles {
    height: 1220px;
  }

  .ServicesRaffles .background {
    height: 120%;
  }

  .ServicesRaffles .background-0 {
    height: 1320px;
  }

  .ServicesRafflesWrapper {
    width: min(964px, 100%);

    padding: 60px;
  }
  
  .ServicesRaffles .CardGroup {
    display: flex;

    flex-direction: column;
  }
  
  .History .background {
    width: 964px;
  }
  
  .History .background-0 {
    left: -50px;
  }
  
  .HistoryWrapper {
    width: min(964px, 100%);

    padding: 60px;
  }


  .HistoryWrapper h2 {
    font-size: 26px;
  }

  .HistoryWrapper p {
    font-size: 16px;
  }
  
  .History .glow-0 {
    left: -10%;
  }

  .History .glow-1 {
    left: 15%;
  }
  
  
  
  
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
} */
/* * TABLET */

/** MOBILE */
@media only screen  and (max-width: 1200px) {
  .Hero {
    height: 1000px;
  }

  .Hero .col1 {
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 750px;

    gap: 20px;

    text-align: center;
  }

  .Hero .col1 h1 {
    /* !PADRÃO PARA HEADER */
    font-size: min(12vmin, 48px);

    white-space: nowrap;
  }

  .Hero .col1 p {
    width: 100%;
    line-height: 120%;

    /* !PADRÃO PARA TEXTO */
    font-size: min(6vmin, 20px);
    font-weight: 400;
  }

  .Hero .col1 button {
    width: fit-content;
    height: fit-content;

    padding: 10px 22px;

    font-size: 18px;
  }

  .Hero .col1 button img {
    width: 11px;
    height: auto;
  }

  .Hero .col2 {
    display: none;
  }

  .Hero .Faixas {
    top: none;
    
    translate: -30% 20%;
  }

  .Hero .background {

    position: absolute;
    right: 30%;
  }

  .Hero .background-0 {
    min-width: 1920px;

    position: absolute;
    right: -550px;

    opacity: 1;

    filter: brightness(130%);
  }

  .Hero .GlowGroup {
    width: 100%;
    height: 100%;
  }

  .Hero .glow-0 {
    top: 0;
    left: 45%;

    width: 891px;
    height: 891px;

    filter: blur(255px);

    opacity: .7;
  }

  .Hero .glow-1 {
    display: none;

  }

  .Services {
    height: fit-content;
    width: min(1200px, 100%);

    margin-top: 80px;

    padding: 20px;
  }

  .Services h2 {
    font-size: min(9vmin, 48px);
  }

  .ServicesWrapper {
    padding: 0;
  }

  .Services .CardGroup {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .Services .Card {
    width: min(100%, 301px);
  }

  .Services .Card h3 {
    font-size: min(8vmin, 20px);
  }

  .Services .Card p {
    font-size: min(4vmin, 14px);
  }

  .ServicesDisplay {
    display: flex;

    align-items: flex-end;

    width: min(1200px, 100%);
    height: fit-content;

    padding: 0;
    margin-block: 80px;
  }

  .ServicesDisplayWrapper {
    display: flex;
    
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    padding: 0;
  }

  .ServicesDisplay .col1 {
    translate: 0 0;

    height: 355px;

    margin-bottom: 140px;
  }

  .ServicesDisplay .background-1 {
    height: 135%;

    left: -30%;
  }

  .ServicesDisplay .background-0 {
    height: 165%;

    translate: 60px;
  }

  .ServicesDisplayWrapper .col2 {
    display: flex;

    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 40px;

    width: min(90%, 537px);
  }

  .ServicesDisplayWrapper ul {
    gap: 30px;
  }

  .ServicesDisplayWrapper li {
    display: flex;

    justify-content: flex-start;
  }

  .ServicesDisplayWrapper li h3 {
    font-size: min(5vmin, 25px);

    width: fit-content;
  }

  .ServicesDisplay .col2 img {
    height: min(5vmin, 25px);

    margin-right: 5px;
  }

  .ServicesDisplayWrapper li p {
    font-size: min(4vmin, 12px);
    font-weight: 400;

    padding-left: 30px;

    width: fit-content;
  }

  .ServicesDisplay .col2 .ImageBox {

    width: 25px;
    height: 25px;
  
    margin-right: 13px;
  }

  .ServicesDisplay .GlowGroup {
    display: flex;
  
    position: absolute;
  
    width: 100%;
    height: 100%;
  }

  .ServicesDisplay .glow-0 {
    width: 670px;
    height: 670px;
  
    right: 0;
  
    background-color: #A30006;
    background: radial-gradient(#E21A1A, #A30006);
    filter: blur(440px);
  }
  
  .ServicesDisplay .glow-1 {
    display: none;
  }
  
  .ServicesDisplay .glow-2 {
    display: none;
  }

  .ServicesRaffles {
    width: min(1200px, 100%);
    height: fit-content;

    padding: 20px;

    overflow: hidden;
  }

  .ServicesRafflesWrapper {
    height: 100%;

    padding: 0;

    gap: 50px;
  }

  .ServicesRafflesWrapper h2 {
    margin-top: 100px;
    font-size: min(12vmin, 30px);
  }

  .ServicesRaffles .CardGroup {
    display: flex;

    justify-content: center;

    padding: 0;

    width: 100%;

    margin-top: 0;
    
    flex-wrap: wrap;
  }

  .ServicesRaffles .BackgroundRaffle {
    width: min(330px, 100%);
    height: min(390px, 100%);
  }

  .ServicesRaffles .Card .RaffleLogo {
    width: min(280px, 100%);
    height: auto;

    margin-bottom: 5px;
  }

  .ServicesRaffles .Card {
    width: min(330px, 100%);
    height: min(390px, 100%);
  }

  .ServicesRaffles .Card .RaffleContent {
    gap: 10px;
  }

  .ServicesRaffles .Card h3 {
    font-size: min(6vmin, 20px);
  }

  .ServicesRaffles .Card p {
    font-size: 10px;
    font-size: min(3vmin, 12px);

    height: fit-content;
    margin-bottom: 3px;

    text-align: justify;

    line-height: min(3.3vmin, 12px);
  }

  .ServicesRaffles .Card button {
    width: fit-content;
    height: fit-content;

    font-size: min(5vmin, 20px);
  }

  .ServicesRaffles .background {
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .ServicesRaffles .background-0 {
    width: auto;
    height: 610%;
  }

  .History {
    height: fit-content;
  }

  .HistoryWrapper {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-bottom: 0;

    flex-wrap: wrap;

    padding: 0;

    align-items: flex-end;
  }

  .History .col1 {
    width: 100%;

    overflow: hidden;

    translate: 0 60px;
  }

  .History .background-0 {
    top: 10px;

    translate: 20% -30px;

    width: 100%;
    height: auto;
  
    z-index: 2;
  }

  .History .col2 {
    width: 100%;
    
    height: fit-content;

    padding: 40px 20px;

    translate: 0 -60px;

    background-color: #0c0c0c;

    z-index: 3;

    position: relative;
  }

  .History .col2::after {
    content: '';

    width: 160%;
    height: 100%;

    position: absolute;
    top: -160px;
    left: -30px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.7));

    filter: blur(30px);


    z-index: -1;
  }

  .History .col2 h2 {
    font-size: min(6.5vmin, 30px);
  }

  .History .col2 p {
    font-size: min(4vmin, 18px);

    text-align: justify;
  }

  .History .background {
    left: 0;
    right: 0;
    top: 0;
  
    width: min(1200px, 100%);
    height: 100%;
  
    overflow: visible;
  }

  .History .GlowGroup {
    display: none;
  }






  .mobile {
    display: block;
  }

  .desktop, .tablet {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .ServicesRaffles .Card .RaffleLogo {
    width: min(280px, 100%);
    height: auto;

    margin-top: 24px;
    margin-bottom: 5px;
  }

  .ServicesRaffles .Card {
    width: min(330px, 100%);
    height: min(390px, 100%);

    padding: 0 min(24px, 5%);
  }


  .ServicesRaffles .Card button {
    width: fit-content;
    height: fit-content;

    padding: 5px;
    margin-bottom: 24px;

    font-size: min(5vmin, 20px);
  }

  .History .background-0 {
    top: 20px;
    width: 200%;

    translate: -5% -30px;
  }
}
/** MOBILE */

.no-background {
  background-color: transparent;
}

.visible {
  translate: 0vw;
}

.highlight {
  color: #E21A1A;
}

.Hero button:disabled {
  filter: grayscale(100%);
}

.ServicesRaffles button:disabled {
  filter: grayscale(100%);
}