.aboutContainer {
    height: 600px;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to right, 
                                      #520404 0%,  /* Vermelho intermediário */
                                      #3d0303 10%,   /* Vermelho muito escuro */
                                      #300000 20%,  /* Vermelho quase preto */
                                      #270202 45%,  /* Vermelho quase preto */
                                      #000000 100%);/* Preto */
}




.contentAbout{
    width: 450px;
    height: 500px;
}

.TitleAbout{
    font-size: 30px;
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}

.descriptionAbout{
    color: white;
    font-size: 25px;
}

.imageCardLokinho{
    display: flex;
    margin-top: 50px;
    width: 550px;
    height: 500px;
    margin-left: 25%;
}