.ContainerAdmin{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.ContentAdmin{
    justify-content: center;
    align-items: center;
    background-color: #980106;
    padding: 40px;
    border-radius: 10px;
}

.ContainerInformation{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.FormPhoto{
    display: flex;
}

.Data{
    display: flex;
    justify-content: center;
    width: 600px;
}
.ContentPhoto {
    position: relative;
    width: 50%;
    height:  100%; 
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 40px;
}

.ContentInputs{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fileInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.DivInput{
    display: flex;
    flex-direction: column;
}
.InputData{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.labelInformation{
    font-size: 16px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}
.ButtonSave{
    width: 180px;
    height: 36px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #e21a1a;
    transition: translate 400ms ease-out, box-shadow 400ms ease-in;
    cursor: pointer;
}
.ButtonSave:hover {
    translate: 2px 2px;
    box-shadow: 0 0 15px #E21A1A;
  }
.TitleAdmin{
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}

/* Card de skins cadastrada do admin */

.ContainerCards {
    width: 1100px;
    height: 520px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; 
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}


.ContentCard{
    background-color: #646462;
    width: 200px;
    height: 240px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #646462;
    cursor: pointer;
}

.ImageCard{
    width: 100%;
    height: 55%;
    border-radius: 10px 10px 0px 0px;
}

.DivDataCard{
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.DivSettings{
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

.dropdownMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: solid 1px;
    width: 180px;
    height: 90px;
    position: relative;
    z-index: 10; 
    margin-top: 20px;
    margin-bottom: -100px;
    background-color: gray;
    cursor: pointer;

}

.buttonSelect{
    background-color: #646462;
    color: #fff;
    width: 100%;
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.buttonSelect:nth-child(2) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.buttonSelect:nth-child(3) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* PopUpUpdateSkins */
.ContainerPopUpUpdate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100vh;
    width: 100vw;
    top: 0;
    left:0;
    z-index: 10;
}

.ContentPopUpUpdate{
    background-color: #980106;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.ButtonExitUpdate{
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
}

.ButtonExitUpdateStyle{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.DataPopUpUpdate{
    display: flex;
    gap: 10px;
    margin: 20px;
}

.DivPhoto{
    position: relative;
    width: 45%;
    height:  100%; 
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 40px;
}

.InputDataPopUp{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 5px;
    font-size: 24px;
}

.TitlePopUpUpdate{
    font-size: 30px;
    color: #fff;
}

.LabelPopUpUpdate{
    font-size: 24px;
    color: #fff;
}

.ButtonSavePopUp{
    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #e21a1a;
    transition: translate 400ms ease-out, box-shadow 400ms ease-in;
    cursor: pointer;
    margin-top: 10px;
}
.ButtonSavePopUp:hover {
    translate: 2px 2px;
    box-shadow: 0 0 15px #E21A1A;
  }

/* barra de pesquisar as skins */
  .inputNavBarContainer {
    position: relative;
    width: 1000px;
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.inputNavBarMember {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 50px; 
}

.searchIconMember {
    position: absolute;
    right: 20px; /* Espaço consistente do ícone para a borda direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
    color: #000;
    width: 35px;
    height: 35px;
}
