
.ContainerAdmin{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;

}
.ContentAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #980106;
    padding: 80px;
    gap: 50px;
    border-radius: 10px;
}

.ContainerPhoto{
    width: 400px;
    background-color: #fff;
    height: 300px;
}

.ContainerInformation{
    width: 400px;
    background-color: #fff;
    height: 300px;
}